
.container{
    
    width: 30vw;
    border: 1px solid black;
    justify-content: center;
    margin: 20px;
}

.container p{
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}



.container img{
   width: inherit;
   height: 400px; 
}
